{
  "extends": "fbjs-opensource",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "semi": ["error", "never"],
    "prefer-object-spread/prefer-object-spread": "off" // we use ES2015 in our sources at the moment
  }
}
