szn-select {
  display: inline-block;
}

szn-select[tabindex][role='combobox'] select {
  display: none;
}

[data-szn-select-ui] [data-button] {
  display: block;

  position: relative;

  border: 1px solid black;
  min-width: 10em;
  max-width: 100vw;
  box-sizing: border-box;
}

[data-szn-select-ui] [data-text] {
  display: inline-block;

  padding: 0.1em 1em 0.1em 0.2em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

[data-szn-select-ui] [data-caret] {
  display: inline-block;

  position: absolute;
  right: 0;
  top: 0;

  width: 1em;
  height: 100%;

  background: red;
}

[data-szn-select-ui] [data-caret]::before {
  content: '∨';
  font-weight: bold;
  color: white;
}

[data-szn-select-ui] [data-drop-down-opened] [data-caret]::before {
  content: '∧';
}
