szn-select {
  display: inline-block;
}

szn-select select {
  border: var(--szn-select-border-width, 1px) solid var(--szn-select-border-color, #cccccc);
  border-radius: var(--szn-select-border-radius, 4px);
  min-width: var(--szn-select-min-width, 109px);
  height: var(--szn-select-single-height, 2em);

  color: var(--szn-select-text-color, #000000);

  background: var(--szn-select-background-color, #ffffff);
}

szn-select select[multiple] {
  height: auto;
}

szn-select select:focus {
  border-color: var(--szn-select-active-border-color, #7dbfff);

  box-shadow: var(--szn-select-active-box-shadow, 0 0 3px rgba(0, 132, 255, .4));
  outline: none;
}

szn-select[data-szn-select-ready] select {
  position: fixed;
  right: 999999px;
  right: 1000vw;
}

szn-select[data-szn-select-single] {
  min-width: var(--szn-select-min-width, 109px);
  height: var(--szn-select-single-height, 2em);
}

szn-select [data-szn-select-ui] {
  width: 100%;
  height: 100%;
}

szn-select [data-szn-select-button] {
  display: block;

  position: relative;

  border: var(--szn-select-border-width, 1px) solid var(--szn-select-border-color, #cccccc);
  border-radius: var(--szn-select-border-radius, 4px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  color: var(--szn-select-text-color, #000000);

  background: var(--szn-select-background-color, #ffffff);

  cursor: pointer;
}

szn-select [data-szn-select-button][data-szn-select-active],
szn-select szn-options[data-szn-select-active] {
  border-color: var(--szn-select-active-border-color, #7dbfff);

  box-shadow: var(--szn-select-active-box-shadow, 0 0 3px rgba(0, 132, 255, .4));
}

szn-select [data-szn-select-button][data-szn-select-open] {
  border-radius: var(--szn-select-border-radius, 4px) var(--szn-select-border-radius, 4px) 0 0;
}

szn-select [data-szn-select-button][data-szn-select-open-at-top] {
  border-radius: 0 0 var(--szn-select-border-radius, 4px) var(--szn-select-border-radius, 4px);
}

szn-select [data-szn-select-button][disabled] {
  color: var(--szn-select-disabled-text-color, #cccccc);

  cursor: default;
}

szn-select [data-szn-select-label] {
  display: block;

  border-right: var(--szn-select-single-height, 2em) transparent solid;
  padding: var(--szn-select-button-padding, 0 5px 0 12px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  line-height: calc(var(--szn-select-single-height-px, 32px) - 2 * var(--szn-select-border-width, 1px));
  line-height: calc(var(--szn-select-single-height, 2em) - 2 * var(--szn-select-border-width, 1px));
  white-space: nowrap;
  text-overflow: ellipsis;
}

szn-select [data-szn-select-mark] {
  display: block;

  position: absolute;
  right: 0;
  top: 0;

  width: var(--szn-select-single-height, 2em);
  height: 100%;

  line-height: calc(var(--szn-select-single-height-px, 32px) - 2 * var(--szn-select-border-width, 1px));
  line-height: calc(var(--szn-select-single-height, 2em) - 2 * var(--szn-select-border-width, 1px));
  text-align: center;
}

szn-select [data-szn-select-mark]:after {
  display: inline;

  content: var(--szn-select-button-icon-closed, "▼");
}

szn-select [data-szn-select-open] [data-szn-select-mark]:after {
  content: var(--szn-select-button-icon-opened, "▲");
}

szn-tethered > [data-szn-select-dropdown] {
  display: block;

  top: -1px;

  min-width: var(--szn-select-min-width, 109px);
}

szn-tethered[data-vertical-align='top'] > [data-szn-select-dropdown] {
  bottom: -1px;
}
